body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.indexes-table{
    margin-bottom: 50px;
}
.td{
    padding: 5px;
    border: 1px thin;
    border-color: black;
    font: 14px;
    min-width: 50px ;
    text-align:center;
}

table.fixed {
    table-layout: fixed;
}
    table.fixed td {
        overflow: hidden;
        word-wrap: break-word;
        width: 50px;
    }

td.name {
    padding: 5px;
    border: 1px thin;
    border-color: black;
    font: 14px;
    min-width: 50px ;
}
input{
    margin:10px;
}